<!-- START SLIDER -->
<div id="layerslider-container">		
		<%= image_tag("background.jpg")%>
		<%= render "static_pages/search_form" %>	
		<i><p class="img-caption">Bridging the gap between H-1B Employers and Job Seekers</p></i>
</div>
<!-- END SLIDER-->
