.home-page
	.row.first-row
		.content
			.row
				%a.btn.btn-primary{:href=>new_jobseeker_path, :style=>"margin-right: 80px;"} Job Seekers Sign Up			
				%a.btn{:href=>new_employer_path} Employers Sign Up
	.row.second-row
		.content
			= render "static_pages/search_form"
	.row.third-row
		.content
			.title
			.row.content-row
				.span6.offset2
					.row.f-row
						.mac-img
					.row.s-row
						.span1.search-h1b-jobs
						.span6{:style=>"margin-left:0px;"}
							%label.strong Search H-1B Jobs and Employers
							%label Connect with H-1B Emp loyers and Apply

				.span4
					.row.fs-row
						%a{:href=>"#"}
							.span1.fs-img
							.span9
								%label.strong H-1B Job/Sponsorship Wanted Ads
								%label Looking for H-1B Job or Spnsorship? Post classifields in the prtal.
					.row.sc-row
						%a{:href=>"#"}
							.span1.sc-img
							.span9
								%label.strong Extensive H-1B Employer Database
								%label free access to 500,000 H-1B Employer
								%label Database, with detailed employer information.
					.row.th-row
						%a{:href=>"#"}
							.span1.th-img
							.span9
								%label.strong Employer Reviews/Background Check
								%label Check the reviews and background of employers using our tool suite.
					.row.fr-row
						%a{:href=>"#"}
							.span1.fr-img
							.span9
								%label.strong Explore Ratings, Top Salaries & Job Titles
								%label Obtain employer ratings, top salary positions and top job titles to better know the employer.

	.row.fourth-row
		.content
			.title
			.row.content-row
				.row.fs-row
					.span5.offset2
						%a{:href=>"#"}
							.span1.fs-img
							.span8
								%label.strong Post your H-1B Jobs for Candidates
								%label Find suitable employees through job posting in our portal.
					.span5
						%a{:href=>"#"}
							.span1.sc-img
							.span8
								%label.strong Create customized Employer Profile
								%label Employer can create theire own profile, providing moredetails useful for the job seekers.
				.row.sc-row
					.span5.offset2
						%a{:href=>"#"}
							.span1.th-img
							.span8
								%label.strong Interact & Access Job Seeker Profiles
								%label You can get access to job seeker's profiles and interact with the candidates.
					.span5
						%a{:href=>"#"}
							.span1.fr-img
							.span8
								%label.strong Get Access to H-1b & OPT Network
								%label Obtain easy access to H-1B and OPT student network through our portal.
						

	.row.fifth-row
		.content
			.content-box
				.span4{:style=>"width: 280px;"}
					%h3 NEWSLETTER SIGN UP
				.span5{:style=>"width: 460px;"}
					%input{:type=>"email", :placeholder=>"Enter your Email", :style=>"border-radius:20px;font-size: 30px;height: 40px;width: 450px;padding-left:15px;"}
				.span3{:style=>"width: 200px;"}
					%a.btn.btn-primary{:href=>"#",:style=>"border-radius: 20px;font-size: 26px;height: 30px;padding-top: 12px;width: 170px;"} YES
	.row.footer-row
		.content
			.row
				.span3.offset1
					%h3 CONTACT US
					%p 
						Email:
						%span abc@xyz.com
					%p 
						Phone:
						%span +00 098 098 9088
					%p 
						Address:
						%span 90210, Broadway Strt., New York
				.span3.offset1
					%h3 ABOUT THE COMPANY
					%p 
						job search tool that allows job seekers to use their social networks to quickly find job opportunities from companies within their personal networks.
				.span3.offset1
					%h3 GET IN TOUCH
					.span1{:style=>"width: 40px;"}
						%a{:href=>"#"}
							.fs-icon
					.span1{:style=>"width: 40px;"}
						%a{:href=>"#"}
							.sc-icon
					.span1{:style=>"width: 40px;"}
						%a{:href=>"#"}
							.th-icon

	.row.last-row
		.content
			%label{:style=>"text-align:center"} © 2013 H-1B WIKI. ALL COPYRIGHTS RESERVED
