.row.post-main-page
	.row
		.span9.page-msg-box
			%p 
				If you want to edit your job, Please go back to the Frorm Window.
				%a{:href=>"#", :onclick=>"window.close(); window.history.back();"}Close Preview
	.row
		.span10.post-jobs-show-box
			.row
				.span10
					%h1= @post_job.job_title
			.row
				.span2
					%strong 
						Job Type: 
				.span8
					%span=@post_job.get_jobtype
			.row
				.span2
					%strong 
						Description: 
				.span8
					%label= @post_job.job_description
			.row
				.span2
					%strong 
						Skills: 
				.span8
					-@post_job.skill_lists.each do |skill_name|
						%a.h1bwiki-skill{:href=>"#"}=skill_name.name
			
:javascript 
	$('ul.nav-tabs li').eq(0).addClass('isCurrent');
