.container-fluid
	.row.mailbox-page
		=render "layouts/nav-link-mailbox-secondary"
		.row.first-row
			.span12
				.page-header
					%p.page-title Sent
				.row
					.span6
						= form_tag :messagebox_sent, :method => :get, :name=>"search_form" do
							.input-append
								= text_field_tag :subject, params[:title], :placeholder => "What?"
								%a{:class=>"m-btn blue", :style => "margin-top: 0px; padding: 8px 14px", :href =>"javascript:search_form.submit();"}
									%i{:class=>"icon-search"}
									Search
					.span6
						=will_paginate @mail_box, :param_name => 'page_num'
			.span12.mail-inbox
				%table.table.table-striped
					%colgroup
						%col/
						%col/
						%col/
					%tbody.txtTop
						= render partial: "messages", collection: @mail_box, as: :messages
				
:javascript 
		$('ul.nav-tabs li').eq(2).addClass('isCurrent');	
		$('div.nav-link ul li').eq(1).addClass('current-tab');	