.container-fluid
	.row.mailbox-page
		=render "layouts/nav-link-mailbox-secondary"
		.row.first-row
			.span12
				.page-header
					%p.page-title Sent
				.row
					.span4					
						%input#mcCtrlSearchField.oFormMed.ac_input{:autocomplete => "off", :maxlength => "100", :placeholder => "Search Messages", :type => "search", :value => ""}/
					.span8
						=will_paginate @mail_box, :param_name => 'page_num'
			.span12.mail-inbox
				%table.table.table-striped
					%colgroup
						%col/
						%col/
						%col/
					%tbody.txtTop
						= render partial: "messages", collection: @mail_box, as: :messages

				
:javascript 
		$('ul.nav-tabs li').eq(2).addClass('isCurrent');	
		$('div.nav-link ul li').eq(1).addClass('current-tab');	