.container-fluid
	.row.post-main-page
		.row
			.span10.post-jobs-show-box
				.row
					.span10
						%h1= @jobseeker_job.title
				.row
					- user = User.find_by_id(@jobseeker_job.user_id)
					%p.company-name 
						#{user.company_name.nil? ? user.user_name : user.company_name }
				.row
					.span3
						%strong 
							Need H-1B/Transfer: 
					.span8
						%span=@jobseeker_job.transfer == 1 ? 'Yes' : 'No'
				.row
					.span3
						%strong 
							Immigration Status: 
					.span8
						%span=@jobseeker_job.get_immigration_status
				.row
					.span3
						%strong 
							Description: 
					.span8
						%label= @jobseeker_job.description			
		
		.row.last-row
			.span2.offset3
				%input.m-btn.blue{:type=>"button", :value=>"Contact"}				
			.span2
				%input.m-btn.blue{:type=>"button", :value=>"Forward"}					
			.span2
				%input.m-btn.blue{:type=>"button", :value=>"Close"}
