.row.post-main-page
	.row
		.span10.page-msg-box
			%p 
				You can continue to edit or your job post by going back to the editable form.
				%a{:href=>"#", :onclick=>"window.close(); window.history.back();"}Close Preview
	.row
		.span10.post-jobs-show-box
			.row
				.span10
					%h1= @post_training.job_title
			.row
				.span10
					%strong Hourly - 
			.row
				.span10
					%h2 Job Description				
			.row
				.span10
					= @post_training.job_description
			.row
				.span10
					%h3 Skills Required
			
:javascript 
	$('ul.nav-tabs li').eq(0).addClass('isCurrent');
