.row.post-main-page
	=render "layouts/nav-link-secondary"
	.row
		.span10.post-jobs-show-box
			.row
				.span10
					%h1= @post_training.job_title
			.row
				.span10
					%strong Hourly - 
			.row
				.span10
					%h2 Job Description				
			.row
				.span10
					= @post_training.job_description
			
:javascript 
	$('ul.nav-tabs li').eq(1).addClass('isCurrent');
