@font-face{
	font-family:bitter-regular;
	src: url(fonts/Bitter-Regular.otf);
}
@font-face{
	font-family:bitter-bold;
	src: url(fonts/Bitter-Bold.otf);
}
@font-face{
	font-family:bitter-italic;
	src: url(fonts/Bitter-Italic.otf);
}

.home-page{
	a, h3,span,p{
		font-family:bitter-regular;
	}
	.content{
		width: 1366px;
		margin: 0 auto;
	}
	.first-row{
		height: 466px;
		background: url(pattern.png);	
		.content{			
			height: 210px;
			background: url(main-back.png) no-repeat;			
			position: relative;
			padding-top: 290px;
			.row{
				text-align: center;
				.btn{
					color: black;	
					border-radius: 25px 25px 25px 25px;
			    font-size: 26px;
			    height: 30px;
			    width: 270px;
			    padding-top: 10px;				
				}
				.btn-primary{
					color: white;
				}
			}
		}
	}
	.second-row{
		margin-top: 1px;
		height: 180px;
		background-color: #292b31;
		.content{
			height: 190px;
			.row{
				ul.dropdown-menu{
					li{
						a{
					    clear: both;
					    color: rgb(51, 51, 51);
					    display: block;
					    font-size: 30px;
					    font-weight: normal;
					    line-height: 20px;
					    white-space: nowrap;
					    height: 30px;
					    padding-bottom: 10px;
					    padding-top: 15px;
					    &:hover{
					    	cursor: pointer;
					    }
						}
					}
				}
			}
		}
	}

	.third-row{
		a{
			color: black;
			&:hover{
				text-decoration: none;
			}
			label.strong{
				color: black;
				font-family: bitter-bold;
				font-size: 16px;
			}
			label{
				color: black;
				font-family: bitter-regular;
			}
		}
		background-color: #fff;
		height: 634px;
		.content{
			margin-top: 56px;
			height: 634px;
			.title{
				margin: 0 auto;
				width: 812px;
				height: 36px;
				background: url(middle-g.png);
			}
			.content-row{
				margin-top: 50px;
				.span6{
					margin-left: 170px;
					.mac-img{
						width: 575px;
						height: 315px;	
						background: url(mac-img.png) no-repeat;
					}
					.search-h1b-jobs{
						width: 57px;
						height: 53px;
						background: url(middle-e.png) no-repeat;
					}
					.s-row{
						margin-top: 40px;
	    			padding-left: 80px;
					}
				}
				.span4{
					.row{
						margin-bottom: 40px;					
					}
					.fs-img{
						width: 64px;
						height: 48px;
						background: url(middle-a.png) no-repeat;	
					}
					.sc-img{
						width: 64px;
						height: 48px;
						background: url(middle-b.png) no-repeat;	
					}
					.th-img{
						width: 64px;
						height: 48px;
						background: url(middle-c.png) no-repeat;	
					}
					.fr-img{
						width: 64px;
						height: 48px;
						background: url(middle-d.png) no-repeat;	
					}
				}
			}
			
		}
	}

	.fourth-row{
		height: 466px;
		border-top: solid 1px #dfdfdf; 
		border-bottom: solid 1px #dfdfdf;
		background-color: #f6f6f6; 
		a{
			color: black;
			&:hover{
				text-decoration: none;
			}
			label.strong{
				color: black;
				font-family: bitter-bold;
				font-size: 16px;
			}
			label{
				color: black;
				font-family: bitter-regular;
			}
		}
		.content{
			margin-top: 48px;
			height: 466px;
			.title{
				margin: 0 auto;
				width: 490px;
				height: 24px;
				background: url(middle-l.png);
			}
			.row{
				margin-top: 50px;
			}
			.fs-img{
				width: 74px;
				height: 57px;
				background: url(middle-h.png) no-repeat;	
			}
			.sc-img{
				width: 74px;
				height: 57px;
				background: url(middle-j.png) no-repeat;	
			}
			.th-img{
				width: 74px;
				height: 57px;
				background: url(middle-i.png) no-repeat;	
			}
			.fr-img{
				width: 74px;
				height: 57px;
				background: url(middle-k.png) no-repeat;	
			}
		}	
	}

	.fifth-row{
		height: 100px;
		background-color: #e9e9e9; 		
		.content{
			padding-top: 20px;
			height: 80px;
			.content-box{
				width:995px;
				margin: 0 auto;
			}
		}
	}
	.footer-row{
		height: 240px;
		background-color: #232728;
		.content{
			height: 264px;
			.row{
				h3{
					color: white;
    			margin-top: 40px;
				}
				p{
					color: #898989;
					span{
						color: white;
					}
				}
			}
			.fs-icon{
				width: 40px;
				height: 37px;
				background: url('footer-a.png');
				background-position: 0px 0px;		
			}
			.sc-icon{
				width: 40px;
				height: 37px;
				background: url("footer-a.png") repeat scroll -38px 0 transparent;
			}
			.th-icon{
				width: 40px;
				height: 37px;
				background: url("footer-a.png") repeat scroll -75px 0 transparent;
			}
		}
	}
	.last-row{
		height: 64;
		background-color: #ff9635;
		.content{
			height: 44px;
			padding-top: 30px;
		}
	}
}
