// Place all the styles related to the SearchEmployer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-conditions-box{
	.overview-title{
		p{
			font-size:20px;
			color: #4d90fe;
			text-align: center;
		}
	}
	.overview-item{
		margin-top: 10px;
		label{
			font-size:20px;
			color: #4d90fe;
		}
		div.res-box{
			border: 1px solid #EAEAEA;
	    margin-left: 10px;
	    padding: 5px 10px;
	    width: 100px;
	    display: inline-block;
	    p{
	    	text-align: center;
	    	font-size:20px;
	    	margin-bottom: 0px;
	    }
		}
		div.prevh1bflag{
			background-color: #009900;
			color: black;
		}
		div.h1barateflag{
			background-color: #ff0000;
			color: black;
		}
		div.everifiedflag{
			background-color: #009900;
			color: black;
		}
		div.prevgcflag{
			background-color: #33ccff;
			color: black;
		}
		div.gcarateflag{
			background-color: #009900;
			color: black;
		}
	}
	
}

#ui-id-1{
	height: 250px;
	overflow: hidden;
}