// Place all the styles related to the SearchEmployer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-conditions-box{
	.overview-title{
		p{
			font-size:20px;
			color: #4d90fe;
			text-align: center;
		}
	}
	.overview-item{
		margin-top: 10px;
		label{
			font-size:16px;
			color: black;
			font-weight: bold;
		}
		div.res-box{
			border: 1px solid #EAEAEA;
	    margin-left: 10px;
	    padding: 5px 10px;
	    width: 100px;
	    display: inline-block;
	    color: white;
	    p{
	    	text-align: center;
	    	font-size:16px;
	    	margin-bottom: 0px;
	    }
		}
		div.val-green{
			background-color: #4f9130;			
		}
		div.val-red{
			background-color: #d14836;
		}
		div.val-blue{
			background-color: #9fa093;
		}		
	}
	
}

#ui-id-1{
	height: 250px;
	overflow: hidden;
}	
.tab-content{
	background-color: #f5f5f5;
}

#h1bemp_name{
	width: 450px;
}

.h1b-gcstats{
	.stats-title{
		margin-top: 40px;
		p{
			font-size:20px;
			color: #4d90fe;
			text-align: center;
		}
	}
}

.table-hover{
	tbody{
		tr:hover{
			cursor: pointer;
		}
	}
}