.sign-up-page{

	background: url(pattern.png);

	.sign-in-page{
	  background-color: #282d33;
	  border: 1px solid #4c5055;
	  border-radius: 8px;
	  padding: 20px;	  
	  margin-bottom: 50px;
	  .btn-primary{
			background-image: linear-gradient(to bottom, rgb(64, 170, 250), rgb(23, 134, 218));
			&:hover, &:focus{
				background-color: rgb(23, 134, 218);    
	    	color: rgb(255, 255, 255);
			}
		}
	}
}