<footer class="footer">
    <div class="row footer-box" style="margin:0 auto;">
        <div class="container">
            <div class="span4">
                <ul class="top-offset-small">
    				<li><a href="/about" style="color:white; text-shadow: none;">About</a></li>
                    <li><label>|</label></li>
    				<li><a href="/contact" style="color:white; text-shadow: none;">Contact</a></li>
                    <li><label>|</label></li>
    				<li><a href="/press" style="color:white; text-shadow: none;">Press</a></li>
                    <li><label>|</label></li>
    				<li><a href="/terms" style="color:white; text-shadow: none;">Terms &amp; Privacy</a></li>
    			</ul>
            </div>
            <div class="span5">
                <div class = "row">
                    <div class="main_label">
                        <span style="color:white; text-shadow: none;">Sign Up for H1BWIKI'S Newsletter<span><br />
                    </div>
                </div>
                <div class="row">                    
                    <div class="input_wrapper">
                        <form accept-charset="UTF-8" action="/contact/new_subscriber" data-remote="true" method="post">
                            <div class="input-append">
                              <input class="span2" id="appendedInputButtons" type="text" placeholder="Enter your email" style="width:320px" >
                              <button class="btn btn-warning" type="button">Sign up</button>
                            </div>
                        </form>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="extra_info">
                    <span style="color:white; text-shadow: none;"><strong>Contact us:</strong></span>
                    <span style="color:white; text-shadow: none;">admin@h1bwiki.com</span>
                </div>
            </div>
        </div>
    </div>
</footer>