.row.nav-link.secodary
	%ul
		%li 
			=link_to("My Postings", employer? ? posts_view_path : jobseeker_posts_path )
		%li.current-tab
			=link_to("Post Main", employer? ? post_main_path : jobseeker_post_main_path )		